# {{ profile }}
{% for prof in profiles %}
{% if prof == profile %}
{% if profiles[profile]['steps'] %}
classes:
{% for step_num in profiles[profile]['steps'] %}
{% if step_num <= step %}
{% for role in profiles[profile]['steps'][step_num]['roles'] %}
  - {{ role }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

cloud::messaging::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::messaging::rabbit_names: "%{hiera('rabbit_names')}"
cloud::messaging::rabbit_password: "%{hiera('rabbit_password')}"

cloud::cache::listen_ip: "%{hiera('internal_netif_ip')}"

cloud::network::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::network::rabbit_password: "%{hiera('rabbit_password')}"
cloud::network::tunnel_eth: "%{hiera('internal_netif_ip')}"
cloud::network::api_eth: "%{hiera('internal_netif_ip')}"

cloud::network::l3::external_int: "%{hiera('external_netif')}"

cloud::network::metadata::auth_region: "%{hiera('region')}"
cloud::network::metadata::ks_neutron_password: "%{hiera('ks_neutron_password')}"
cloud::network::metadata::neutron_metadata_proxy_shared_secret: "%{hiera('neutron_metadata_proxy_shared_secret')}"
cloud::network::metadata::nova_metadata_server: "%{hiera('vip_public_ip')}"
cloud::network::metadata::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::network::metadata::ks_keystone_admin_proto: "%{hiera('endpoint_proto')}"

cloud::network::lbaas::manage_haproxy_pkg: false

cloud::identity::swift_enabled: true
cloud::identity::keystone_db_host: "%{hiera('keystone_db_host')}"
cloud::identity::keystone_db_password: "%{hiera('keystone_db_password')}"
cloud::identity::memcache_servers: "%{hiera('memcache_servers')}"
cloud::identity::ks_admin_email: "%{hiera('ks_admin_email')}"
cloud::identity::ks_admin_password: "%{hiera('ks_admin_password')}"
cloud::identity::ks_admin_token: "%{hiera('ks_admin_token')}"
cloud::identity::ks_trove_internal_host: "%{hiera('ks_trove_internal_host')}"
cloud::identity::ks_trove_admin_host: "%{hiera('ks_trove_admin_host')}"
cloud::identity::ks_trove_password: "%{hiera('ks_trove_password')}"
cloud::identity::ks_trove_public_host: "%{hiera('ks_trove_public_host')}"
cloud::identity::ks_trove_admin_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_trove_internal_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_trove_public_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_ceilometer_admin_host: "%{hiera('ks_ceilometer_admin_host')}"
cloud::identity::ks_ceilometer_internal_host: "%{hiera('ks_ceilometer_internal_host')}"
cloud::identity::ks_ceilometer_password: "%{hiera('ks_ceilometer_password')}"
cloud::identity::ks_ceilometer_public_host: "%{hiera('ks_ceilometer_public_host')}"
cloud::identity::ks_cinder_admin_host: "%{hiera('ks_cinder_admin_host')}"
cloud::identity::ks_cinder_internal_host: "%{hiera('ks_cinder_internal_host')}"
cloud::identity::ks_cinder_public_host: "%{hiera('ks_cinder_public_host')}"
cloud::identity::ks_cinder_password: "%{hiera('ks_cinder_password')}"
cloud::identity::ks_glance_admin_host: "%{hiera('ks_glance_admin_host')}"
cloud::identity::ks_glance_internal_host: "%{hiera('ks_glance_internal_host')}"
cloud::identity::ks_glance_password: "%{hiera('ks_glance_password')}"
cloud::identity::ks_glance_public_host: "%{hiera('ks_glance_public_host')}"
cloud::identity::ks_heat_admin_host: "%{hiera('ks_heat_admin_host')}"
cloud::identity::ks_heat_internal_host: "%{hiera('ks_heat_internal_host')}"
cloud::identity::ks_heat_password: "%{hiera('ks_heat_password')}"
cloud::identity::ks_heat_public_host: "%{hiera('ks_heat_public_host')}"
cloud::identity::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::identity::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::identity::ks_keystone_public_host: "%{hiera('ks_keystone_public_host')}"
cloud::identity::ks_neutron_admin_host: "%{hiera('ks_neutron_admin_host')}"
cloud::identity::ks_neutron_internal_host: "%{hiera('ks_neutron_internal_host')}"
cloud::identity::ks_neutron_password: "%{hiera('ks_neutron_password')}"
cloud::identity::ks_neutron_public_host: "%{hiera('ks_neutron_public_host')}"
cloud::identity::ks_nova_admin_host: "%{hiera('ks_nova_admin_host')}"
cloud::identity::ks_nova_internal_host: "%{hiera('ks_nova_internal_host')}"
cloud::identity::ks_nova_password: "%{hiera('ks_nova_password')}"
cloud::identity::ks_nova_public_host: "%{hiera('ks_nova_public_host')}"
cloud::identity::ks_swift_dispersion_password: "%{hiera('ks_swift_dispersion_password')}"
cloud::identity::ks_swift_internal_host: "%{hiera('ks_swift_internal_host')}"
cloud::identity::ks_swift_admin_host: "%{hiera('ks_swift_admin_host')}"
cloud::identity::ks_swift_password: "%{hiera('ks_swift_password')}"
cloud::identity::ks_swift_public_host: "%{hiera('ks_swift_public_host')}"
cloud::identity::api_eth: "%{hiera('internal_netif_ip')}"
cloud::identity::region: "%{hiera('region')}"
cloud::identity::ks_ceilometer_public_proto: "http"
cloud::identity::ks_ceilometer_admin_proto: "http"
cloud::identity::ks_ceilometer_internal_proto: "http"
cloud::identity::ks_cinder_public_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_cinder_admin_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_cinder_internal_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_glance_admin_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_glance_internal_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_glance_public_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_heat_admin_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_heat_internal_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_heat_public_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_keystone_admin_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_keystone_public_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_neutron_admin_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_neutron_internal_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_neutron_public_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_nova_admin_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_nova_internal_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_nova_public_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_swift_admin_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_swift_internal_proto: "%{hiera('endpoint_proto')}"
cloud::identity::ks_swift_public_proto: "%{hiera('endpoint_proto')}"

cloud::compute::hypervisor::server_proxyclient_address: "%{hiera('internal_netif_ip')}"
cloud::compute::hypervisor::ks_nova_public_host: "%{hiera('ks_nova_public_host')}"
cloud::compute::hypervisor::ks_nova_public_proto: "%{hiera('endpoint_proto')}"
cloud::compute::hypervisor::ks_spice_public_proto: "%{hiera('endpoint_proto')}"
cloud::compute::hypervisor::nova_rbd_secret_uuid: "%{hiera('ceph_fsid')}"
cloud::compute::hypervisor::nova_ssh_private_key: "%{hiera('nova_ssh_private_key')}"
cloud::compute::hypervisor::nova_ssh_public_key: "%{hiera('nova_ssh_public_key')}"
cloud::compute::hypervisor::volume_rbd: true
cloud::compute::hypervisor::libvirt_type: "%{hiera('libvirt_type')}"

cloud::compute::neutron_endpoint: "%{hiera('ks_neutron_internal_host')}"
cloud::compute::neutron_protocol: "%{hiera('endpoint_proto')}"
cloud::compute::neutron_password: "%{hiera('ks_neutron_password')}"
cloud::compute::neutron_region_name: "%{hiera('region')}"
cloud::compute::memcache_servers: "%{hiera('memcache_servers')}"
cloud::compute::nova_db_host: "%{hiera('nova_db_host')}"
cloud::compute::nova_db_password: "%{hiera('nova_db_password')}"
cloud::compute::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::compute::rabbit_password: "%{hiera('rabbit_password')}"
cloud::compute::ks_glance_internal_host: "%{hiera('ks_glance_internal_host')}"
cloud::compute::ks_glance_internal_proto: "%{hiera('endpoint_proto')}"
cloud::compute::availability_zone: "%{hiera('region')}"

cloud::telemetry::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::telemetry::rabbit_password: "%{hiera('rabbit_password')}"
cloud::telemetry::region: "%{hiera('region')}"
cloud::telemetry::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::telemetry::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::telemetry::ks_ceilometer_password: "%{hiera('ks_ceilometer_password')}"
cloud::telemetry::ceilometer_secret: "%{hiera('ceilometer_secret')}"

cloud::spof::cluster_ip: "%{hiera('api_eth')}"

cloud::image::api::glance_db_host: "%{hiera('glance_db_host')}"
cloud::image::api::glance_db_password: "%{hiera('glance_db_password')}"
cloud::image::api::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::image::api::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::image::api::ks_glance_registry_internal_proto: "%{hiera('endpoint_proto')}"
cloud::image::api::ks_glance_internal_host: "%{hiera('ks_glance_internal_host')}"
cloud::image::api::ks_glance_password: "%{hiera('ks_glance_password')}"
cloud::image::api::rabbit_password: "%{hiera('rabbit_password')}"
cloud::image::api::rabbit_host: "%{hiera('rabbit_host')}"
cloud::image::api::api_eth: "%{hiera('internal_netif_ip')}"
cloud::image::api::openstack_vip: "%{hiera('vip_public_ip')}"

cloud::image::registry::glance_db_host: "%{hiera('glance_db_host')}"
cloud::image::registry::glance_db_password: "%{hiera('glance_db_password')}"
cloud::image::registry::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::image::registry::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::image::registry::ks_glance_internal_host: "%{hiera('ks_glance_internal_host')}"
cloud::image::registry::ks_glance_password: "%{hiera('ks_glance_password')}"
cloud::image::registry::api_eth: "%{hiera('internal_netif_ip')}"

cloud::telemetry::api::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::telemetry::api::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::telemetry::api::ks_ceilometer_password: "%{hiera('ks_ceilometer_password')}"
cloud::telemetry::api::api_eth: "%{hiera('api_eth')}"
cloud::telemetry::api::mongo_nodes: "%{hiera('mongo_nodes')}"

cloud::orchestration::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::orchestration::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::orchestration::ks_keystone_admin_proto: "%{hiera('endpoint_proto')}"
cloud::orchestration::ks_heat_public_proto: "%{hiera('endpoint_proto')}"
cloud::orchestration::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::orchestration::ks_heat_password: "%{hiera('ks_heat_password')}"
cloud::orchestration::heat_db_host: "%{hiera('heat_db_host')}"
cloud::orchestration::heat_db_password: "%{hiera('heat_db_password')}"
cloud::orchestration::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::orchestration::rabbit_password: "%{hiera('rabbit_password')}"
cloud::orchestration::api::api_eth: "%{hiera('internal_netif_ip')}"
cloud::orchestration::engine::ks_heat_public_host: "%{hiera('ks_heat_public_host')}"
cloud::orchestration::engine::ks_heat_public_proto: "%{hiera('endpoint_proto')}"
cloud::orchestration::engine::ks_heat_password: "%{hiera('ks_heat_password')}"
cloud::orchestration::engine::auth_encryption_key: "%{hiera('auth_encryption_key')}"

cloud::volume::storage::cinder_backends:
  rbd:
    ceph:
      rbd_pool: volumes
      rbd_user: cinder
      rbd_secret_uuid: "%{hiera('ceph_fsid')}"
cloud::volume::storage::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::volume::storage::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::volume::storage::ks_cinder_password: "%{hiera('ks_cinder_password')}"

cloud::volume::api::ks_cinder_password: "%{hiera('ks_cinder_password')}"
cloud::volume::api::ks_glance_internal_host: "%{hiera('ks_glance_internal_host')}"
cloud::volume::api::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::volume::api::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::volume::api::api_eth: "%{hiera('internal_netif_ip')}"
cloud::volume::api::ks_glance_internal_proto: "%{hiera('endpoint_proto')}"
cloud::volume::api::volume_multi_backend: true
cloud::volume::api::default_volume_type: ceph

cloud::volume::scheduler::volume_multi_backend: true

cloud::volume::cinder_db_host: "%{hiera('cinder_db_host')}"
cloud::volume::cinder_db_password: "%{hiera('cinder_db_password')}"
cloud::volume::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::volume::rabbit_password: "%{hiera('rabbit_password')}"
cloud::volume::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::volume::ks_cinder_password: "%{hiera('ks_cinder_password')}"
cloud::volume::storage_availability_zone: "%{hiera('region')}"

cloud::object::swift_hash_suffix: "%{hiera('swift_hash_suffix')}"

cloud::object::controller::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::object::controller::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::object::controller::ks_keystone_admin_proto: "%{hiera('endpoint_proto')}"
cloud::object::controller::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::object::controller::ks_swift_dispersion_password: "%{hiera('ks_swift_dispersion_password')}"
cloud::object::controller::ks_swift_password: "%{hiera('ks_swift_password')}"
cloud::object::controller::statsd_host: "%{hiera('statsd_host')}"
cloud::object::controller::memcache_servers: "%{hiera('memcache_servers')}"
cloud::object::controller::api_eth: "%{hiera('api_eth')}"
cloud::object::controller::swift_cors_allow_origin: "%{hiera('swift_cors_allow_origin')}"

cloud::object::ringbuilder::rsyncd_ipaddress: "%{hiera('internal_netif_ip')}"
cloud::object::ringbuilder::replicas: "%{hiera('replicas')}"
cloud::object::ringbuilder::swift_rsync_max_connections: 5

cloud::object::storage::storage_eth: "%{hiera('api_eth')}"

cloud::network::controller::neutron_db_host: "%{hiera('neutron_db_host')}"
cloud::network::controller::neutron_db_password: "%{hiera('neutron_db_password')}"
cloud::network::controller::ks_neutron_password: "%{hiera('ks_neutron_password')}"
cloud::network::controller::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::network::controller::ks_keystone_admin_proto: "%{hiera('endpoint_proto')}"
cloud::network::controller::api_eth: "%{hiera('api_eth')}"
cloud::network::controller::public_cidr: "%{hiera('public_cidr')}"
cloud::network::controller::nova_url: "%{hiera('endpoint_proto')}://%{hiera('vip_internal_fqdn')}:8774/v2"
cloud::network::controller::nova_admin_auth_url: "%{hiera('endpoint_proto')}://%{hiera('vip_internal_fqdn')}:5000/v2.0"
cloud::network::controller::nova_admin_password: "%{hiera('ks_nova_password')}"
cloud::network::controller::nova_admin_username: "nova"
cloud::network::controller::nova_admin_tenant_name: "services"
cloud::network::controller::nova_region_name: "%{hiera('region')}"

cloud::compute::api::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::compute::api::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
cloud::compute::api::ks_nova_password: "%{hiera('ks_nova_password')}"
cloud::compute::api::neutron_metadata_proxy_shared_secret: "%{hiera('neutron_metadata_proxy_shared_secret')}"
cloud::compute::api::api_eth: "%{hiera('api_eth')}"
cloud::compute::consoleproxy::api_eth: "%{hiera('api_eth')}"

cloud::database::sql::api_eth: "%{hiera('internal_netif_ip')}"
cloud::database::sql::galera_master_name: "%{hiera('galera_master_name')}"
cloud::database::sql::galera_internal_ips: "%{hiera('galera_internal_ips')}"
cloud::database::sql::keystone_db_host: "%{hiera('keystone_db_host')}"
cloud::database::sql::keystone_db_password: "%{hiera('keystone_db_password')}"
cloud::database::sql::keystone_db_allowed_hosts: "%{hiera('keystone_db_allowed_hosts')}"
cloud::database::sql::cinder_db_host: "%{hiera('cinder_db_host')}"
cloud::database::sql::cinder_db_password: "%{hiera('cinder_db_password')}"
cloud::database::sql::cinder_db_allowed_hosts: "%{hiera('cinder_db_allowed_hosts')}"
cloud::database::sql::trove_db_host: "%{hiera('trove_db_host')}"
cloud::database::sql::trove_db_password: "%{hiera('trove_db_password')}"
cloud::database::sql::trove_db_allowed_hosts: "%{hiera('trove_db_allowed_hosts')}"
cloud::database::sql::glance_db_hosts: "%{hiera('glance_db_hosts')}"
cloud::database::sql::glance_db_password: "%{hiera('glance_db_password')}"
cloud::database::sql::glance_db_allowed_hosts: "%{hiera('glance_db_allowed_hosts')}"
cloud::database::sql::heat_db_host: "%{hiera('heat_db_host')}"
cloud::database::sql::heat_db_password: "%{hiera('heat_db_password')}"
cloud::database::sql::heat_db_allowed_hosts: "%{hiera('heat_db_allowed_hosts')}"
cloud::database::sql::nova_db_host: "%{hiera('nova_db_host')}"
cloud::database::sql::nova_db_password: "%{hiera('nova_db_password')}"
cloud::database::sql::nova_db_allowed_hosts: "%{hiera('nova_db_allowed_hosts')}"
cloud::database::sql::neutron_db_host: "%{hiera('neutron_db_host')}"
cloud::database::sql::neutron_db_password: "%{hiera('neutron_db_password')}"
cloud::database::sql::neutron_db_allowed_hosts: "%{hiera('neutron_db_allowed_hosts')}"
cloud::database::sql::mysql_root_password: "%{hiera('mysql_root_password')}"
cloud::database::sql::mysql_sys_maint_password: "%{hiera('mysql_sys_maint_password')}"
cloud::database::sql::galera_clustercheck_dbuser: "%{hiera('galera_clustercheck_dbuser')}"
cloud::database::sql::galera_clustercheck_dbpassword: "%{hiera('galera_clustercheck_dbpassword')}"
cloud::database::sql::galera_clustercheck_ipaddress: "%{hiera('galera_clustercheck_ipaddress')}"

cloud::database::nosql::bind_ip: "%{hiera('internal_netif_ip')}"
cloud::database::nosql::replset_members: "%{hiera('mongo_nodes')}"

cloud::database::dbaas::nova_admin_password: "%{hiera('ks_trove_password')}"
cloud::database::dbaas::api::ks_trove_password: "%{hiera('ks_trove_password')}"

cloud::storage::rbd::fsid: "%{hiera('ceph_fsid')}"
cloud::storage::rbd::cluster_network: "%{hiera('ceph_cluster_network')}"
cloud::storage::rbd::public_network: "%{hiera('ceph_public_network')}"
cloud::storage::rbd::osd::devices: "%{hiera('ceph_osd_devices')}"

cloud::storage::rbd::monitor::monitor_secret: "%{hiera('ceph_mon_secret')}"
cloud::storage::rbd::monitor::mon_addr: "%{hiera('internal_netif_ip')}"

cloud::storage::rbd::pools::ceph_fsid: "%{hiera('ceph_fsid')}"

cloud::loadbalancer::keepalived_interface:  "%{hiera('public_netif')}"
cloud::loadbalancer::keepalived_ipvs: "%{hiera('vip_public_ip')}"
cloud::loadbalancer::keepalived_localhost_ip: "%{hiera('internal_netif_ip')}"
cloud::loadbalancer::galera_ip: "%{hiera('galera_ip')}"
cloud::loadbalancer::vip_public_ip: "%{hiera('vip_public_ip')}"
cloud::loadbalancer::haproxy_auth: "%{hiera('haproxy_auth')}"
cloud::loadbalancer::swift_api: true

cloud::dashboard::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::dashboard::api_eth: "%{hiera('api_eth')}"
cloud::dashboard::keystone_host: "%{hiera('ks_keystone_internal_host')}"
cloud::dashboard::keystone_proto: "%{hiera('endpoint_proto')}"

cloud::logging::agent::syslog_enable: true
